include ../../atoms/Link.jade

mixin modalProduct()
    .modal.modal-product(data-target="product")
        .container
            .modal__holder
                .row
                    .col-lg-3
                        h4.modal__title
                            b Решения
                        ul.modal__list
                            li.modal__item
                                +link('./innerPage.html', 'ГЛОНАСС для экстренных служб')
                            li.modal__item
                                +link('#', 'ГЛОНАСС для лизинга и аренды')
                            li.modal__item
                                +link('#', 'Международные перевозки')
                            li.modal__item
                                +link('#', 'Пассажирские перевозки')
                            li.modal__item
                                +link('#', 'ГЛОНАСС для служб такси')
                            li.modal__item
                                +link('#', 'ГЛОНАСС для дизель-генератора')
                    .col-lg-3
                        h4.modal__title
                            b Решения
                        ul.modal__list
                            li.modal__item
                                +link('./innerPage.html', 'ГЛОНАСС для экстренных служб')
                            li.modal__item
                                +link('#', 'ГЛОНАСС для лизинга и аренды')
                            li.modal__item
                                +link('#', 'Международные перевозки')
                            li.modal__item
                                +link('#', 'Пассажирские перевозки')
                            li.modal__item
                                +link('#', 'ГЛОНАСС для служб такси')
                            li.modal__item
                                +link('#', 'ГЛОНАСС для дизель-генератора')
                    .col-lg-3
                        h4.modal__title
                            b Решения
                        ul.modal__list
                            li.modal__item
                                +link('./innerPage.html', 'ГЛОНАСС для экстренных служб')
                            li.modal__item
                                +link('#', 'ГЛОНАСС для лизинга и аренды')
                            li.modal__item
                                +link('#', 'Международные перевозки')
                            li.modal__item
                                +link('#', 'Пассажирские перевозки')
                            li.modal__item
                                +link('#', 'ГЛОНАСС для служб такси')
                            li.modal__item
                                +link('#', 'ГЛОНАСС для дизель-генератора')
                    .col-lg-3
                        h4.modal__title
                            b Решения
                        ul.modal__list
                            li.modal__item
                                +link('./innerPage.html', 'ГЛОНАСС для экстренных служб')
                            li.modal__item
                                +link('#', 'ГЛОНАСС для лизинга и аренды')
                            li.modal__item
                                +link('#', 'Международные перевозки')
                            li.modal__item
                                +link('#', 'Пассажирские перевозки')
                            li.modal__item
                                +link('#', 'ГЛОНАСС для служб такси')
                            li.modal__item
                                +link('#', 'ГЛОНАСС для дизель-генератора')