include ../../atoms/Link.jade

mixin modalFormThanks()
    .modal.modal-form-thanks
        .modal-form-thanks__inner
            h3.modal-form-thanks__title Спасибо за заявку!
            p.modal-form-thanks__text Наш менеджер свяжется с Вами в ближайшее время ответит на все интересующие вопросы.
        +mainButton('/', 'Вернуться на главную')
        .modal__close
            svg
                use(xlink:href="./images/sprite.svg#xmark-black")