include ../../atoms/Link.jade

mixin modalForm(dataTarget)
    .modal.modal-form(data-target="#{dataTarget}")
        .modal-form__wrapper
            h4.modal-form__title Заполните форму и мы свяжемся с вами в ближайшее время
            form.modal-form__inner(action="#")
                input.input.modal-form__input(type="text" placeholder="Ваше имя" name="name")
                input.input.modal-form__input(type="text" placeholder="Ваш телефон" name="tel")
                input.input.modal-form__input(type="email" placeholder="Ваш E-mail" name="email")
                button.main-button(type="submit")
                    b Оставить заявку
            p.modal-form__hint 
                |   Нажимая «Оставить заявку», я даю согласие на 
                +link('#', 'обработку персональных данных')
            .modal__close
                svg
                    use(xlink:href="./images/sprite.svg#xmark-black")