include ../../atoms/Link.jade

mixin modalTechnologies()
    .modal.modal-technologies(data-target="technologies")
        .container
            .modal__holder
                .row
                    .col-lg-3
                        h4.modal__title
                            b Решения
                        ul.modal__list
                            li.modal__item
                                +link('#', 'ГЛОНАСС для селького хозяйства ')
                            li.modal__item
                                +link('#', 'ГЛОНАСС для селького хозяйства ')
                            li.modal__item
                                +link('#', 'ГЛОНАСС для селького хозяйства ')
                            li.modal__item
                                +link('#', 'ГЛОНАСС для селького хозяйства ')
                    .col-lg-3
                        h4.modal__title
                            b Решения
                        ul.modal__list
                            li.modal__item
                                +link('#', 'ГЛОНАСС для селького хозяйства ')
                            li.modal__item
                                +link('#', 'ГЛОНАСС для селького хозяйства ')
                            li.modal__item
                                +link('#', 'ГЛОНАСС для селького хозяйства ')
                            li.modal__item
                                +link('#', 'ГЛОНАСС для селького хозяйства ')
                    .col-lg-3
                        h4.modal__title
                            b Решения
                        ul.modal__list
                            li.modal__item
                                +link('#', 'ГЛОНАСС для селького хозяйства ')
                            li.modal__item
                                +link('#', 'ГЛОНАСС для селького хозяйства ')
                            li.modal__item
                                +link('#', 'ГЛОНАСС для селького хозяйства ')
                            li.modal__item
                                +link('#', 'ГЛОНАСС для селького хозяйства ')
                    .col-lg-3
                        h4.modal__title
                            b Решения
                        ul.modal__list
                            li.modal__item
                                +link('#', 'ГЛОНАСС для селького хозяйства ')
                            li.modal__item
                                +link('#', 'ГЛОНАСС для селького хозяйства ')
                            li.modal__item
                                +link('#', 'ГЛОНАСС для селького хозяйства ')
                            li.modal__item
                                +link('#', 'ГЛОНАСС для селького хозяйства ')