html,
body {
    height: 100%;
}

.main {
    flex-grow: 1;
}

body {
    display: flex;
    flex-direction: column;
    background-color: $bg-color;

    @include font(16px, 150%, $black-color) {
        @extend %inter-400;
    }

    b {
        @extend %inter-600;
    }
}

.container {
    padding: 0 20px;
}

h1,
h2,
h3,
h4,
h5 {
    @extend %inter-600;
}

h1,
h2 {
    @include font(40px, 120%);
}

h2 {
    span {
        color: $main-color;
    }
}

h3 {
    @include font(36px, 150%);
}

h4 {
    @include font(20px, 150%);
}

h5 {
    @include font(16px, 150%);
}

.no-scroll {
    overflow: hidden;
}

.description {
    font-size: 14px;
}

.video-button {
    max-width: 260px;
    gap: 16px;

    &--dark {
        .video-button {

            &__link,
            &__text {
                color: $black-color;
            }
        }
    }

    &__play {
        display: flex;
        width: 60px;
        height: 60px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 500px 0px 500px 500px;
        background-color: $main-color;
        box-shadow: none;
        transition: box-shadow .2s $transitionTimingFunc;

        svg {
            width: 12px;
            height: 14px;
        }
    }

    &__link {
        opacity: 0.6;

        @include font(12px, 150%, $white-color);
    }

    &__text {
        max-width: 184px;

        @include font(14px, 150%, $white-color) {
            @extend %inter-600;
        }
    }

    @include hover() {
        .video-button__play {
            box-shadow: 0px 8px 30px -8px rgba($main-color, 0.7)
        }
    }
}

.tooltip,
.tooltip__wrapper {
    cursor: pointer;
    
    &:hover {
        .tooltip__icon {
            transform: rotate(45deg);
        }
    }
}

.tooltip {
    display: flex;
    width: max-content;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 30px;
    background-color: $main2-color;

    &--left {
        padding-right: 15px;
    }

    &--right {
        padding-left: 15px;

        .tooltip__icon {
            order: 1;
        }
    }

    &--top,
    &--bottom {
        padding: 10px 15px;
    }

    &__icon-wrapper {
        padding: 10px;
        padding-bottom: 0;
        border-radius: 30px 30px 0 0;
        background-color: $main2-color;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__icon {
        display: flex;
        width: 24px;
        height: 24px;
        align-items: center;
        justify-content: center;
        border-radius: 500px;
        background-color: $white-color;

        transition: transform .2s $transitionTimingFunc;

        svg {
            width: 12px;
            height: 12px;
        }
    }

    &__text {
        color: $white-color;
    }
}

.arrow-button {
    display: flex;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    border-radius: 500px 0px 500px 500px;
    background-color: $main-color;
    box-shadow: none;
    transition: box-shadow .2s $transitionTimingFunc;

    svg {
        width: 10px;
        height: 10px;
    }

    @include hover() {
        box-shadow: 0px 8px 30px -8px rgba($main-color, 0.7)
    }
}

.main-button {
    width: fit-content;
    padding: 20px 36px;
    background-color: $main-color;
    border-radius: 50px;
    color: $white-color;
    box-shadow: none;
    transition: box-shadow .2s $transitionTimingFunc;

    @include hover() {
        box-shadow: 0px 8px 30px -8px rgba($main-color, 0.7)
    }
}

.line-button,
.line-icon-button {
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    padding: 20px 36px;
    background-color: transparent;
    border: 1px solid $sep-color;
    border-radius: 50px;
    cursor: pointer;

    transition: border .2s $transitionTimingFunc, color .2s $transitionTimingFunc;

    &--error {
        border: 1px solid #F9326D;
    }

    &--active {
        color: $main-color;
        border: 1px solid $main-color;

        use {
            fill: $main-color;
        }
    }

    &__icon {
        height: 20px;

        svg {
            width: 16px;
            height: 16px;

            use {
                fill: $black-color;

                transition: fill .2s $transitionTimingFunc;
            }
        }
    }

    @include hover() {
        color: $main-color;
        border: 1px solid $main-color;

        use {
            fill: $main-color;
        }
    }
}

.line-icon-button {
    padding: 10px 20px;
}

.calculator-button {
    width: fit-content;
    padding: 20px 36px;
    background: linear-gradient(107deg, #FA9600 22.08%, #F97700 84.42%);
    background-size: 200% 100%;
    background-position: 0 0;
    border: none;
    border-radius: 50px;
    transition: background-position .3s $transitionTimingFunc;
    color: $white-color;
    cursor: pointer;

    @include hover() {
        background-position: 100% 0;
    }
}

.link {
    @include font(14px, 150%, $txt2-color) {
        text-decoration-line: underline;
        transition: color .2s $transitionTimingFunc, text-decoration-line .2s $transitionTimingFunc;
    }

    @include hover() {
        text-decoration-line: none;
        color: $main-color;
    }
}

.link-two {
    @extend %inter-600;
    color: $main-color;
    text-decoration-line: underline;
    transition: text-decoration-line .2s $transitionTimingFunc;

    @include hover() {
        text-decoration-line: none;
    }
}

.popup-link {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;

    transition: color .2s $transitionTimingFunc;

    svg {
        width: 24px;
        height: 24px;

        transition: transform .2s $transitionTimingFunc;

        use {
            fill: $black-color;

            transition: fill .2s $transitionTimingFunc;
        }
    }

    &--active {
        color: $txt2-color;

        svg {
            transform: rotate(180deg);

            use {
                fill: $txt2-color;
            }
        }
    }

    @include hover() {
        color: $txt2-color;

        svg {
            transform: rotate(180deg);

            use {
                fill: $txt2-color;
            }
        }
    }
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    gap: 10px;
    width: 46px;
    height: 46px;
    background-color: transparent;
    border: 1px solid $sep-color;
    border-radius: 500px;
    cursor: pointer;

    transition: border .2s $transitionTimingFunc, width .3s $transitionTimingFunc;

    &__icon {
        width: 16px;
        height: 20px;

        svg {
            width: 16px;
            height: 16px;

            use {
                fill: $black-color;

                transition: fill .2s $transitionTimingFunc;
            }
        }
    }

    &__input {
        width: 100%;
        display: none;
        color: $black-color;
        border: none;
        background-color: transparent;
        outline: none;

        &::placeholder {
            color: $txt2-color;
        }
    }

    &--active {
        width: 100%;
        justify-content: flex-start;
        padding: 0 24px;

        .search__input {
            display: block;
        }
    }

    @include hover() {
        border: 1px solid $main-color;

        svg {
            use {
                fill: $main-color;
            }
        }
    }
}

.breadcrumbs {
    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    &__list-item {
        &:last-child .link {
            text-decoration: none;
        }

        &:not(:last-child) {
            position: relative;
            padding-right: 10px;

            &::after {
                content: '/';
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
            }
        }
    }
}

.input {
    padding: 19px 30px 21px 30px;
    border: 1px solid $sep-color;
    border-radius: 200px;
    outline: none;

    &::placeholder {
        color: $txt2-color;
    }

    &--error {
        border: 1px solid #F9326D;
    }
}

.slider-button {
    padding: 10px;
    display: flex;
    border: 1px solid $sep-color;
    border-radius: 500px;
    background-color: $white-color;
    cursor: pointer;

    svg {
        width: 24px;
        height: 24px;
    }

    &--prev svg {
        transform: rotate(90deg);
    }

    &--next svg {
        transform: rotate(-90deg);
    }
}

.modals {
    z-index: 100;

    &--maxvisible {
        z-index: 200;
    }
}

.modal-overlay {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(10, 14, 20, 0.50);
    height: 100vh;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s $transitionTimingFunc, visibility .3s $transitionTimingFunc;
}

.modal {
    position: absolute;
    transform: translateY(-1000vh);
    background-color: $bg-color;
    border-radius: 50px;
    transition: transform .3s $transitionTimingFunc;

    &__holder {
        padding: 56px 0;
    }

    &__title {
        margin-bottom: 20px;
    }

    &__close {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        top: -48px;
        right: -48px;
        padding: 10px;
        border-radius: 500px;
        background-color: $white-color;
        cursor: pointer;

        svg {
            width: 10px;
            height: 10px;
        }
    }
}

.modal-overlay--visible {
    opacity: 1;
    visibility: visible;
    transition: opacity .3s $transitionTimingFunc, visibility .3s $transitionTimingFunc;
}

.modal--visible {
    transform: translateY(168px);
}

.modal-form {
    position: absolute;
    top: 50%;
    max-width: 544px;
    height: fit-content;
    padding: 56px;
    border-radius: 50px;

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__hint {
        color: $txt2-color;
    }

    .main-button {
        width: 100%;
        justify-content: center;
        border: none;
        cursor: pointer;
    }
}

.modal-form-thanks {
    position: absolute;
    top: 50%;
    display: flex;
    max-width: 544px;
    height: fit-content;
    flex-direction: column;
    gap: 40px;
    padding: 56px;
    border-radius: 50px;

    &__title {
        font-size: 30px;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.modal-form,
.modal-form-thanks {
    &.modal--visible {
        transform: translateY(-50%);
    }
}

.hamb,
.header-modal {
    display: none;
}

.hamb {
    margin-left: 10px;

    &__field {
        display: flex;
        flex-direction: column;
        gap: 3.5px;
        cursor: pointer;
        padding: 17px;
        background-color: $main2-color;
        border-radius: 500px;

        transition: background-color .2s $transitionTimingFunc;
    }

    &--active {
        .hamb__field {
            background-color: $main-color;
        }

        .bar {
            &:first-child {
                transform: translateY(5px) rotate(45deg);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:last-child {
                transform: translateY(-5px) rotate(-45deg);
            }
        }
    }
}

.bar {
    display: block;
    width: 14px;
    height: 1.5px;
    background-color: $white-color;
    border-radius: 10px;
    transition: .2s $transitionTimingFunc;
}

.header__wrapper {
    z-index: 100;
}

.header-top {
    background-color: $bg2-color;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;
    }

    &__connect-wrapper {
        display: flex;
        align-items: center;
        gap: 45px;
    }

    &__connect {
        display: flex;
        align-items: center;
        gap: 10px;

        svg {
            fill: $main-color;
            width: 16px;
            height: 16px;
        }

        &:last-child {
            .link a {
                font-size: 13px;
            }
        }
    }

    &__connect-text {
        color: $txt2-color;
        font-size: 13px;
    }

    &__schedule {
        font-size: 14px;
    }
}

.header {
    background-color: $bg-color;

    .menu {
        &__list {
            display: flex;
            align-items: center;
            gap: 30px;
        }

        &--hidden {
            display: none;
        }
    }

    &__holder {
        display: flex;
        align-items: center;
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;
    }

    &__logo {
        width: fit-content;
        margin-right: 48px;

        svg {
            width: 64px;
            height: 64px;
        }
    }

    &__btns {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: fit-content;
        gap: 16px;

        transition: width .3s $transitionTimingFunc;

        &--search {
            width: 100%;
        }

        .main-button {
            padding: 10px 24px;
            min-width: 156px;
        }
    }
}

.header-modal {
    position: absolute;
    top: 76px;
    left: 0;
    right: 0;
    transform: translateX(1000vh);
    background-color: $bg-color;
    transition: transform .3s $transitionTimingFunc;
    height: calc(100dvh - 76px);
    z-index: 2;
    overflow-y: auto;

    &__holder,
    &__wrapper,
    &__wrapper .container,
    &__wrapper .row,
    &__inner {
        min-height: calc(100vh - 124px);
    }

    &--active {
        display: block;
        transform: translateX(0);
    }

    .search {
        border: none;
        padding: 0;

        &:hover {
            border: none;

            svg use {
                fill: $black-color;
            }
        }
    }

    .main-button {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    &__holder,
    &__wrapper {
        border-top: 1px solid $sep-color;
    }

    &__inner {
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .menu {
        margin-bottom: auto;

        &__list {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        &__list-item {
            display: flex;
            flex-direction: column;
            gap: 30px;
            cursor: pointer;

            &--active {
                .menu__list-item__content {
                    display: flex;
                }
            }

            &__label {
                display: flex;
                align-items: center;
                justify-content: space-between;
                user-select: none;

                svg {
                    width: 24px;
                    height: 24px;
                    transform: rotate(-90deg);
                }
            }

            &__content {
                display: none;
                flex-direction: column;
                gap: 30px;
            }
        }
    }

    &__connect {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 40px 0;
    }

    &__connect-item {
        display: flex;
        align-items: center;
        gap: 20px;

        &__icon {
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $sep-color;
            border-radius: 500px;

            svg {
                fill: $main-color;
                width: 16px;
                height: 16px;
            }
        }
    }
}

.footer {
    padding: 40px 0 20px;

    &__wrapper {
        padding: 0 56px;
    }
}

.footer-top,
.footer-body,
.footer-bottom {
    display: flex;
    flex-wrap: wrap;
}

.footer-top {
    gap: 16px;
    padding-bottom: 40px;

    &__logo svg {
        width: 146px;
        height: 54px;
    }

    &__connect {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__tel {
        font-size: 24px;
        @extend %inter-600;
    }

    &__icons {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__btns {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;

        .line-icon-button {
            &__icon svg {
                fill: $black-color;

                transition: fill .3s $transitionTimingFunc;

            }

            @include hover() {
                .line-icon-button__icon svg {
                    fill: $main-color;
                }
            }
        }
    }

    &__icon,
    &__up {
        display: flex;
        width: 54px;
        height: 54px;
        align-items: center;
        justify-content: center;
        border: 1px solid $sep-color;
        border-radius: 500px;
        cursor: pointer;

        svg {
            fill: $black-color;
            width: 16px;
            height: 16px;
        }
    }

    &__up {
        transform: rotate(180deg);

        svg {
            width: 24px;
            height: 24px;
        }
    }
}

.footer-body {
    padding: 40px 0;
    border-top: 1px solid $sep-color;
    border-bottom: 1px solid $sep-color;

    &__item {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.footer-bottom {
    padding-top: 40px;

    &__copy p,
    &__made p {
        font-size: 14px;
        color: $txt2-color;
    }

    &__inner {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 20px;
    }

    &__made {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__made-logo {
        svg {
            fill: #7A7D80;
            width: 52px;
            height: 11px;

            transition: fill .3s $transitionTimingFunc;
        }

        @include hover() {
            svg {
                fill: $main-color;
            }
        }
    }
}