@import "../../node_modules/bootstrap/scss/bootstrap";
@import '../../node_modules/swiper/swiper-bundle.min';

.row {
    gap: 16px;
    margin-right: 0;
    margin-left: 0;
    padding: 0 56px;
}

.row>* {
    padding: 0;
}

@media (min-width: 992px) {
    .col-lg-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: calc(25% - 12px);
    }
}

@media (max-width: 480px) {
    .row {
        padding: 0;
    }
}

// @media (min-width: 768px) {
//     .swiper-slide {
//         width: 590px;
//     }
// }

// .pagination-bullet.swiper-pagination-bullet-active {
//     opacity: 1;
// }