@media (min-width: 480px) {
    .client .swiper-slide {
        width: 432px;
    }
}

@media (min-width: 576px) {
    .modal {
        width: 540px;
    }

    .about-item {
        &__img--mob {
            display: none;
        }
    }
}

@media (min-width: 768px) {
    .modal {
        width: 720px;
    }

    .control {

        &__img--fourth,
        &__img--fifth {
            &-tooltip {
                &:first-child {
                    display: block;
                }

                &:last-child {
                    display: none;
                }
            }
        }

        &__img--fourth {
            .tooltip {
                position: absolute;
                bottom: 37px;
                left: 80px;
            }
        }

        &__img--fifth {
            .tooltip {
                position: absolute;
                top: 67px;
                left: 65px;
            }
        }
    }

    .monitoring__slider-button__wrapper--md {
        display: none;
    }

    .step-item {
        &__content {
            display: none;
        }
    }

    .footer-top {
        &__icon {
            &:first-child {
                display: none;
            }
        }
    }
}

@media (min-width: 992px) {
    .modal {
        width: 960px;
    }

    .client__slider-button__wrapper--lg {
        display: none;
    }
}

@media (min-width: 1200px) {
    .modal {
        width: 1140px;
    }

    .feature .swiper-wrapper {
        display: flex;
        gap: 16px;
    }

    .feature__slider-button__wrapper {
        display: none;
    }

    .feature-item__img--mob {
        display: none;
    }

    .industry {
        &__slider {
            display: none;
        }

        &__slider-button__wrapper {
            display: none;
        }
    }

    .footer-body {
        &__item {
            svg {
                display: none;
            }
        }
    }
}

@media (min-width: 1400px) {
    .modal {
        width: 1480px;
    }
}

@media (max-width: 1400px) {
    .popup-link {
        font-size: 14px;
    }

    .header {
        &__logo {
            margin-right: 20px;

            svg {
                width: 48px;
                height: 48px;
            }
        }

        &__btns {
            gap: 8px;
        }
    }

    .menu {
        &__list {
            gap: 15px;
        }
    }

    .feature-item {
        &__title {
            font-size: 25px;
        }

        &__description {
            font-size: 14px;
        }

        &--horizontal {
            .feature-item {
                &__img {
                    display: flex;
                    align-items: flex-end;

                    img {
                        width: unset;
                        height: unset;
                        object-fit: unset;
                    }
                }
            }
        }
    }

    .about-item {
        .video-button {
            flex-direction: column;
            align-items: unset !important;
        }
    }

    .control {
        .row {
            align-items: center;
        }

        &__images-top {
            grid-template-columns: repeat(2, 1fr);
        }

        &__img--fourth,
        &__img--fifth {
            width: 245px;

            .tooltip__text {
                max-width: min-content;
            }
        }
    }

    .tariff__items {
        grid-template-columns: repeat(2, 1fr);
    }

    .calculator-config {
        &__field-inner {
            flex-direction: column;
            gap: 10px;
        }
    }

    .calculator-output {
        height: fit-content;
    }

    .quiz {
        &__holder {
            background-position: 125% bottom;
        }
    }

    .footer-top {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
}

@media (max-width: 1200px) {
    .popup-link {
        font-size: 12px;
        gap: 0px;
    }

    .header {
        &__logo {
            margin-right: 10px;

            svg {
                width: 40px;
                height: 40px;
            }
        }

        &__btns {
            gap: 5px;
        }

        .main-button {
            padding: 8px 14px;
            min-width: 124px;
            font-size: 14px;
        }

        .line-icon-button {
            padding: 8px 14px;
            gap: 10px;
            font-size: 14px;
        }

        .search {
            height: 42px;
        }
    }

    .menu {
        &__list {
            gap: 10px;
        }
    }

    .promotion {
        &__inner {
            gap: unset;
        }

        &__title {
            font-size: 30px;
        }

        &__list-item {
            font-size: 12px;
        }
    }

    .feature-item--horizontal {
        height: 368px;
        flex-direction: column;
        align-items: center !important;

        .feature-item__inner {
            max-width: none;
            padding: 36px 36px 0 36px !important;
            align-items: center;
            text-align: center;
        }

        .feature-item__img {
            padding: 0 !important;
            height: 100%;

            img {
                @include image-default();
            }
        }
    }

    .feature-item__img--desktop {
        display: none;
    }

    .feature-item__img--mob {
        display: block;
    }

    .icons__inner {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 1fr;
    }

    .calculator {
        &__inner {
            gap: 20px;
        }
    }

    .case {
        &__items {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .review {
        &__items {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .quiz {
        &__holder {
            background-image: none;
        }
    }

    .quiz-form {
        &__field {
            width: 100%;
        }
    }

    .step {
        &__items {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .offer {
        &__header {
            flex-direction: column;
            gap: 20px;
        }
    }

    .offer-form {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-top {
        justify-content: flex-end;

        .col-xxl-3:nth-child(1) {
            margin-right: auto;
        }
    }

    .footer-body {
        padding: 0;
        flex-direction: column;

        &__list {
            display: none;
        }

        &__item-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;

            svg {
                width: 24px;
                height: 24px;
                transition: transform .2s $transitionTimingFunc;
            }
        }

        &__item {
            padding: 20px 0;

            &--active {
                .footer-body {
                    &__item-title {
                        svg {
                            transform: rotate(180deg);
                        }
                    }
                    &__list {
                        display: block;
                    }
                }
            }
        }

        .col-xl-3 {
            &:not(:last-child) {
                .footer-body__item {
                    border-bottom: 1px solid $sep-color;
                }
            }
        }
    }

    .footer-bottom {
        &__inner {
            flex-direction: column;
            align-items: flex-end;
        }

        &__links {
            text-align: end;
        }
    }

    .post {
        .row {
            gap: 30px;
        }
    }
}

@media (max-width: 991px) {
    .header-top {
        display: none;
    }

    .header {
        &__inner {
            justify-content: unset;
        }

        &__holder {
            margin-right: auto;
        }

        .menu {
            display: none;
        }

        .search {
            display: none;
        }

        .main-button {
            display: none;
        }
    }

    .hamb {
        display: block;
    }

    .promotion {
        &__title {
            font-size: 40px;
        }

        &__list-item {
            font-size: 16px;
        }

        &__content {
            gap: 30px;
        }

        &__img {
            max-height: 510px;
        }
    }

    .about {
        .row:nth-child(2) {
            .col-lg-3:nth-child(2) {
                width: calc(50% - 16px);
            }

            .col-lg-3:nth-child(3) {
                width: 50%;

                .about-item {
                    height: 100%;
                }
            }
        }

        &__wrapper .about-item {
            height: 245px;
        }
    }

    .about-item {
        width: 100%;
        height: unset;

        &__img {
            width: 100%;
        }
    }

    .control {
        .main-button {
            width: 100%;
            text-align: center;
        }
    }

    .tariff__items {
        grid-template-columns: repeat(1, 1fr);
    }

    .calculator {
        &__header {
            align-items: unset;
            flex-direction: column;
            gap: 20px;
        }

        &__inner {
            flex-direction: column;
        }
    }

    .calculator-config {
        &__field {
            width: 100%;
        }
    }

    .client {
        &__header .client__slider-button__wrapper {
            display: none;
        }

        .client__slider-button__wrapper--lg {
            display: flex;
        }

        &__btn {
            display: none;
        }
    }

    .quiz {
        &__header {
            flex-direction: column;
            align-items: unset;
            gap: 20px;
        }

        &__holder {
            min-height: 500px;
        }
    }

    .quiz-form {
        &__hint {
            margin-top: auto;
        }
    }

    .review {
        &__items {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .step {
        &__items {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 768px) {

    .header,
    .promotion,
    .feature,
    .about {
        .row {
            padding: 0;
        }
    }

    .promotion {
        &__btns {
            flex-direction: column;

            .main-button,
            .line-button {
                width: 100%;
            }

            .main-button {
                text-align: center;
            }

            .line-button {
                justify-content: center;
            }
        }
    }

    .control {

        &__img--first,
        &__img--second,
        &__img--third,
        &__img--fourth,
        &__img--fifth {
            width: 100%;
            background-size: cover;
        }

        &__img--fourth,
        &__img--fifth {
            &-tooltip {
                &:first-child {
                    display: none;
                }

                &:last-child {
                    display: block;
                }
            }

            .tooltip__text {
                max-width: 100%;
            }
        }

        &__img--second {
            background-position-x: 95%;
        }

        &__img--second,
        &__img--third {
            background-size: auto;

            .tooltip__wrapper {
                bottom: 18px;
                left: 27px;
            }
        }

        &__img--fourth {
            background-size: auto;

            &-tooltip {
                position: absolute;
                left: 35px;
                bottom: 18px;
            }
        }

        &__img--fifth {
            background-size: auto;
            background-position: 5% 38%;

            &-tooltip {
                position: absolute;
                left: 32px;
                bottom: 18px;
            }
        }
    }

    .monitoring__slider-button__wrapper {
        display: none;

        &--md {
            display: flex;
            margin-top: 30px;
        }
    }

    .icons {
        &__inner {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: unset;
            row-gap: 20px;
        }
    }

    .icons-item {
        gap: 16px;

        &__icon svg {
            width: 24px;
            height: 24px;
        }
    }

    .calculator {
        .row {
            padding: 0;
        }

        &__holder {
            padding: 56px;
        }
    }

    .client {
        .row {
            padding: 0;
        }
    }

    .awards {
        &__header {
            justify-content: center;
        }

        .line-button {
            margin: 0 auto;
        }
    }

    .case {
        &__items {
            grid-template-columns: repeat(1, 1fr);
            grid-auto-rows: 1fr;
        }

        &__header {
            justify-content: center;
        }

        .line-button {
            width: 100%;
            justify-content: center;
        }
    }

    .case-item {
        &__img {
            height: 220px;
        }
    }

    .media {
        .row {
            padding: 0;
        }

        .line-button {
            width: 100%;
            justify-content: center;
        }
    }

    .review {
        .row {
            padding: 0;
        }

        .line-button {
            width: 100%;
            justify-content: center;
        }
    }

    .quiz,
    .offer {
        padding-top: 60px;
    }

    .quiz {
        &__wrapper .row {
            padding: 0;
        }

        &__holder {
            min-height: 640px;

            .row {
                padding: 0 56px;
            }
        }
    }

    .quiz-form {
        &__field {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .step {
        &__items {
            grid-template-columns: repeat(1, 1fr);
        }

        &__wrapper {
            .row {
                padding: 0;
            }
        }
    }

    .step-item {
        max-width: 100%;
        flex-direction: row;

        &__top {
            height: calc(100% + 10px);
            align-items: center;
            gap: 10px;
        }

        &__sep {
            width: 2px;
            height: 100%;
        }

        &__content {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
    }

    .offer {
        padding-left: 0;
        padding-right: 0;

        &__wrapper {
            .row {
                padding: 0;
            }
        }

        &__holder {
            padding: 30px 20px;
        }
    }

    .offer-form {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-top {
        align-items: center;
        flex-wrap: nowrap;
        padding-bottom: 30px;

        .col-xxl-3:last-child {
            display: none;
        }

        &__tel {
            display: none;
        }
    }

    .footer-bottom {
        gap: 20px;

        &__inner {
            align-items: flex-start;
        }

        &__links {
            text-align: left;
        }
    }

    .post {
        .row {
            padding: 0;
        }
    }
}

@media (max-width: 576px) {
    .about {
        .row:nth-child(2) {
            .col-lg-3:nth-child(2) {
                width: 100%;
            }

            .col-lg-3:nth-child(3) {
                width: 100%;

                .video-button {
                    align-items: center !important;
                }

                .about-item {
                    height: 480px;

                    &__img {
                        width: fit-content;
                        height: 390px;
                        margin: 0 auto;
                    }
                }
            }
        }

        .about-item,
        &__wrapper .about-item {
            height: 240px;
        }
    }

    .about-item {
        .video-button {
            max-width: 100%;
            flex-direction: row;
        }

        &__img--desktop {
            display: none;
        }

        &__img--mob {
            display: block;
        }
    }

    .awards {
        .line-button {
            width: 100%;
            justify-content: center;
        }
    }

    .media {
        padding-top: 110px;
    }

    .quiz {
        padding-bottom: 0;

        .container {
            padding: 0;
        }

        &__title {
            font-size: 40px;
        }

        &__text {
            font-size: 14px;
        }

        &__wrapper .row {
            padding: 0 20px;
        }

        &__holder {
            height: unset;
            min-height: auto;
            margin-bottom: -50px;
        }
    }

    .offer {
        padding-bottom: 0;
        background-size: inherit;
        background-position-x: center;

        .container {
            padding: 0;
        }

        &__header {
            padding: 0 20px;
        }

        &__holder {
            margin-bottom: -50px;
        }

        &__wrapper {
            gap: 40px;
        }
    }

    .offer-form {
        &__title {
            font-size: 17px;
        }

        &__input {
            &::placeholder {
                font-size: 14px;
            }
        }
    }

    .footer {
        padding-top: 80px;

        &__wrapper {
            padding: 0;
        }
    }

    .footer-top {
        &__icon {
            width: 40px;
            height: 40px;
        }
    }

    .post {
        &__holder {
            gap: 50px;
        }
    }
}

@media (max-width: 480px) {

    .promotion__title,
    .about__title,
    .control__title,
    .monitoring__title,
    .industry__title,
    .tariff__title,
    .calculator__title,
    .client__title,
    .awards__title,
    .case__title,
    .media__title,
    .review__title,
    .step__title,
    .post__title,
    .post-content__title {
        font-size: 28px;
    }

    .industry-item {
        &__title {
            font-size: 17px;
        }

        &__text {
            font-size: 14px;
        }
    }

    .promotion__list-item,
    .control__text,
    .icons-item__text,
    .tariff-item__subtitle,
    .tariff-item__title span,
    .tariff-item__plan-text,
    .calculator__text,
    .client__slider-slide__text,
    .line-,
    .offer__text,
    .post__text {
        font-size: 14px;
    }

    .feature-item {
        &__title {
            font-size: 30px;
        }
    }

    .control .container,
    .icons .container,
    .calculator .container,
    .awards .container {
        padding: 0;
    }

    .control__holder,
    .icons__holder,
    .calculator__holder,
    .awards__holder {
        padding: 56px 20px;
    }

    .icons__inner {
        grid-auto-rows: unset;
    }

    .tariff-item {
        border-radius: 30px;

        &__btn,
        &__body,
        &__header {
            padding: 20px;
        }

        &__header {
            padding-bottom: 10px;
        }

        &__btn {
            padding-top: 10px;
        }

        &__body {
            padding-bottom: 0;
            margin-bottom: 10px;
        }

        &__icon {
            padding: 12px 13px 11px;

            svg {
                width: 30px;
                height: 24px;
            }
        }
    }

    .calculator {
        &__header {
            padding: 0 20px;
        }
    }

    .calculator-config {
        &__title {
            font-size: 17px;
        }

        &__field-title {
            font-size: 14px;
        }
    }

    .calculator-output {
        &__subtitle {
            font-size: 14px;
        }

        &__title {
            font-size: 40px;
        }

        &__payback {
            font-size: 14px;

            b {
                font-size: 17px;
            }
        }

        &__hint {
            font-size: 12px;
        }
    }

    .client {
        &__slider-slide {
            width: fit-content;
            gap: 15px;
            padding: 20px;
            border-radius: 30px;

            &__title {
                font-size: 88px;
            }
        }

        .swiper-slide {
            width: 280px;
        }
    }

    .awards-item {
        &__img {
            img {
                height: 50px;
            }
        }
    }

    .case-item {

        &,
        &__img img {
            border-radius: 30px;
        }

        &__title {
            padding: 15px 20px 0 20px;
            font-size: 17px;
            margin-bottom: 10px;
        }

        &__stats {
            padding: 0 20px 20px 20px;
        }

        &__stat-text {
            font-size: 12px;
        }
    }

    .client__inner,
    .case__wrapper,
    .media__wrapper,
    .review__wrapper {
        gap: 30px;
    }

    .media-item {

        &,
        &__img img {
            border-radius: 30px;
        }

        &__img {
            height: 240px;
        }

        &__meta {
            padding: 20px 20px 0;
        }

        &__title {
            font-size: 17px;
            padding: 0 20px;
        }

        .link-two {
            padding: 0 20px 20px;
        }

        &__meta,
        .link-two {
            font-size: 14px;
        }
    }

    .review-item {
        padding: 20px;
        border-radius: 30px;

        &__stars-count,
        &__text {
            font-size: 14px;
        }
    }

    .quiz {
        &__bg {
            background-position: center -100px;
        }

        &__holder {
            padding: 30px 20px;

            .row {
                padding: 0;
            }
        }

        &__inner {
            .main-button {
                width: 100%;
                text-align: center;
            }
        }
    }

    .quiz-form {
        &__field-input {
            &::placeholder {
                font-size: 14px;
            }
        }

        .main-button {
            font-size: 14px;
        }
    }

    .quiz-content__title,
    .quiz-form__title {
        font-size: 17px;
    }

    .footer-top {
        &__icons {
            gap: 10px;
        }
    }

    .post {
        padding: 30px 0 50px;

        .main-button {
            text-align: center;
        }
    }
}

@media (max-width: 350px) {
    .footer-top {
        flex-direction: column;

        .col-xxl-3:nth-child(1) {
            margin-right: unset;
        }
    }
}

@media (max-width: 1200px) and (min-width: 991px) {

    .control__img--first,
    .control__img--second,
    .control__img--third,
    .control__img--fourth,
    .control__img--fifth {
        width: 224px;
    }
}