@media (min-width: 576px) {
    .modal {
        width: 540px;
    }
}

@media (min-width: 768px) {
    .modal {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .modal {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .modal {
        width: 1140px;
    }
}

@media (min-width: 1400px) {
    .modal {
        width: 1480px;
    }
}