// Basic colors
$black-color: #212126;
$white-color: #fff;
$main-color: #1D53C0;
$main2-color: #6B83B2;
$sep-color: #D8DAE5;
$bg-color: #F5F7FA;
$bg2-color: #EDF0F5;
$txt2-color: #737580;

$transitionTimingFunc: ease-in-out;

%inter-400 {
    font-family: 'Inter';
    font-weight: 400;
}

%inter-600 {
    font-family: 'Inter';
    font-weight: 600;
}