doctype html
html(lang='ru')
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Waliot
        link(rel="stylesheet" href="css/style.min.css")
    body
        // UI
        include ./components/molecules/VideoButton.jade
        include ./components/atoms/MainButton.jade
        include ./components/atoms/LineButton.jade
        include ./components/atoms/CalculatorButton.jade
        include ./components/atoms/Link.jade
        include ./components/atoms/LinkTwo.jade
        include ./components/organisms/Header.jade

        // Модальные окна
        include ./components/molecules/modals/ModalProduct.jade
        include ./components/molecules/modals/ModalSolutions.jade
        include ./components/molecules/modals/ModalTechnologies.jade
        include ./components/molecules/modals/ModalCompany.jade
        include ./components/molecules/modals/ModalConnect.jade

        include ./components/organisms/HeaderModal.jade

        .modals
            .modal-overlay
                +modalProduct()
                +modalSolutions()
                +modalTechnologies()
                +modalCompany()
                +modalConnect()

        +header()
        +headerModal()

    //- .container
    //-     .wrapper(style="background-color: #ccc; border-radius: 20px; padding: 50px 0;")
    //-         .row
    //-             .col(style="background-color: #363636;")
    //-                 p(style="height: 100vh;") content


    //- svg
        //- use(xlink:href="./images/sprite.svg")
    script(src="js/main.min.js" defer)
