doctype html
html(lang='ru')
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Waliot
        link(rel="stylesheet" href="css/style.min.css")
    body
        include ./components/molecules/VideoButton.jade
        include ./components/atoms/ArrowButton.jade
        include ./components/atoms/MainButton.jade
        include ./components/atoms/LineButton.jade
        include ./components/atoms/LineButtonTag.jade
        include ./components/atoms/CalculatorButton.jade
        include ./components/atoms/Link.jade
        include ./components/atoms/LinkTwo.jade
        include ./components/organisms/Header.jade
        include ./components/organisms/Footer.jade

        include ./components/molecules/modals/ModalProduct.jade
        include ./components/molecules/modals/ModalSolutions.jade
        include ./components/molecules/modals/ModalTechnologies.jade
        include ./components/molecules/modals/ModalCompany.jade
        include ./components/molecules/modals/ModalConnect.jade

        include ./components/organisms/HeaderModal.jade

        .modals
            .modal-overlay
                +modalProduct()
                +modalSolutions()
                +modalTechnologies()
                +modalCompany()
                +modalConnect()

        +header()
        +headerModal()

        section.promotion
            .container
                .promotion__holder
                    .row
                        .promotion__inner
                            .promotion__content
                                .promotion__content-info
                                    h1.promotion__title
                                        span Первая в России
                                        |  система мониторинга транспорта с искусственным интеллектом
                                    ul.promotion__list
                                        li.promotion__list-item
                                            |   Подключите мониторинг транспорта
                                            b   под ключ за 3 дня
                                            |   с регулярным гарантийным обслуживанием.
                                        li.promotion__list-item
                                            |   Контролируйте движение транспортных средств и расход топлива в режиме реального времени
                                            b   с точностью данных 99,97%
                                        li.promotion__list-item
                                            |   Сократите затраты на содержание автопарка
                                            b   до 30%
                                            |   за 1,5 месяца
                                        li.promotion__list-item
                                            |   Повысьте эффективность работы транспорта
                                            b   до 45%
                                            |   в течение месяца
                                        li.promotion__list-item
                                            b   Бесплатной
                                            |   обучайтесь работе с нашей программой после установки
                                .promotion__btns
                                    +mainButton('#', 'Подключить Waliot')
                                    +lineButton('#', 'Подобрать решение')
                            .promotion__img
                                img(src="./images/content/promotion/system.webp" srcset="./images/content/promotion/system.webp 1x, ./images/content/promotion/system@2x.webp 2x" alt="система waliot")
        section.feature
            .container
                .row
                    .col-lg-3
                        .feature-item(style='gap: 30px;')
                            .feature-item__inner
                                h3.feature-item__title >17 000
                                p.feature-item__description Автомобилей ежедневно контролируются системой
                            .feature-item__img
                                img(src="./images/content/feature/feature_1.png" srcset="./images/content/feature/feature_1.webp 1x, ./images/content/feature/feature_1@2x.webp 2x" alt="")
                    .col-lg-3
                        .feature-item(style='gap: 35px; padding-left: 0; padding-right: 0;')
                            .feature-item__inner
                                h3.feature-item__title 38
                                p.feature-item__description Транспортных средств возвращено владельцам
                            .feature-item__img
                                img(src="./images/content/feature/feature_2.png" srcset="./images/content/feature/feature_2.webp 1x, ./images/content/feature/feature_2@2x.webp 2x" alt="")
                    .col-lg-3
                        .feature-item(style='gap: 35px; padding-right: 0; padding-bottom: 0;')
                            .feature-item__inner
                                h3.feature-item__title 2,8 млн тонн
                                p.feature-item__description Топлива сохранено или возвращено владельцам
                            .feature-item__img
                                img(src="./images/content/feature/feature_3.png" srcset="./images/content/feature/feature_3.webp 1x, ./images/content/feature/feature_3@2x.webp 2x" alt="")
                    .col-lg-3
                        .feature-item--horizontal__wrapper
                            .feature-item.feature-item--horizontal.feature-item--accent(style="gap: 46px; padding-bottom: 0; padding-top: 0;")
                                .feature-item__inner(style="padding-top: 36px;")
                                    h3.feature-item__title +13
                                    p.feature-item__description Лет на рынке
                                .feature-item__img(style="height: 176px;")
                                    img(src="./images/content/feature/feature_4.png" srcset="./images/content/feature/feature_4.webp 1x, ./images/content/feature/feature_4@2x.webp 2x" alt="")
                            .feature-item.feature-item--horizontal(style="padding: 0 0 0 36px; align-items: flex-end;")
                                .feature-item__inner(style="padding: 36px 0 36px 0;")
                                    h3.feature-item__title 49
                                    p.feature-item__description Регионов присутствия
                                .feature-item__img(style="height: 155px;")
                                    img(src="./images/content/feature/feature_5.png" srcset="./images/content/feature/feature_5.webp 1x, ./images/content/feature/feature_5@2x.webp 2x" alt="")
        section.about
            .container
                .row
                    h2.about__title
                        |   Как выглядит система 
                        span Waliot
                .row
                    .col-lg-6
                        .about-item
                            .about-item__img
                                img(src="./images/content/about/about_1.webp" srcset="./images/content/about/about_1.webp 1x, ./images/content/about/about_1@2x.webp 2x" alt="")
                    .col-lg-3
                        .about__wrapper
                            .about-item
                                .about-item__img
                                    img(src="./images/content/about/about_2.webp" srcset="./images/content/about/about_2.webp 1x, ./images/content/about/about_2@2x.webp 2x" alt="")
                            .about-item
                                .about-item__img.about-item__img--dark
                                    img(src="./images/content/about/about_3.webp" srcset="./images/content/about/about_3.webp 1x, ./images/content/about/about_3@2x.webp 2x" alt="")
                                    .about-item__link(style="bottom: 30px;")
                                        +videoButton('#', 'Посмотреть видео', 'Первая мониторинговая компания')
                    .col-lg-3
                        .about-item
                            .about-item__img
                                img(src="./images/content/about/about_4.webp" srcset="./images/content/about/about_4.webp 1x, ./images/content/about/about_4@2x.webp 2x" alt="")
                                .about-item__link(style="top: 30px;")
                                    +videoButton('#', 'Посмотреть видео', 'Интерфейс пользователя', 'dark')
        section.control
            .container
                .control__holder
                    .row
                        .col-lg-5
                            .control__inner
                                .control__content
                                    h2.control__title
                                        |   Множество
                                        span    датчиков контроля
                                    p.control__text
                                        |   Многофункциональное оборудование от одного из ведущих российских производителей оборудования автомониторинга всех видов транспорта, который по праву заслужил высокий уровень доверия со стороны покупателей.
                                        br
                                        |   Мы предлагаем не просто купить и установить спутниковый мониторинг ГЛОНАСС\GPS, а комплексное решение, контроль транспорта, который включает в себя линейку различного телематического оборудования, системы транспортной аналитики, тахографы и карты водителя по выгодной цене.
                                +mainButton('#', 'Подобрать оборудование')
                        .col-lg-7
                            .control__images
                                .control__images-top
                                    .control__img
                                        img(src="./images/content/control/control_1.png" alt="")
                                    .control__img
                                        img(src="./images/content/control/control_2.png" alt="")
                                    .control__img
                                        img(src="./images/content/control/control_3.png" alt="")
                                .control__images-bottom
                                    .control__img
                                        img(src="./images/content/control/control_4.png" alt="")
                                    .control__img
                                        img(src="./images/content/control/control_5.png" alt="")
        section.monitoring
            .container
                .row
                    .monitoring__inner
                        .monitoring__header
                            h2.monitoring__title Возможности системы мониторинга
                            .monitoring__slider-button__wrapper
                                .monitoring__slider-button.monitoring__slider-button--prev
                                    svg
                                        use(xlink:href="./images/sprite.svg#angle")
                                .monitoring__slider-button.monitoring__slider-button--next
                                    svg
                                        use(xlink:href="./images/sprite.svg#angle")
                        .monitoring__slider
                            .swiper
                                .swiper-wrapper
                                    .swiper-slide
                                        .monitoring__slider-slide
                                            h5.monitoring__slider-slide__title Контроль местоположения транспорта
                                            p.monitoring__slider-slide__text Программный комплекс мониторинга Waliot® позволяет в режиме времени, приближённому к реальному, контролировать состояние, местоположение и дополнительные функции всех транспортных средств Компании на детализированное карте местности с точностью до дома.
                                    .swiper-slide
                                        .monitoring__slider-slide
                                            h5.monitoring__slider-slide__title Контроль расхода топлива
                                            p.monitoring__slider-slide__text Решение Waliot нацелено на оперативное реагирование и выявление фактов хищений топлива. Среди способов контроля: датчик уровня топлива, датчик расхода топлива, данных CAN-машины или на основании данных спутникового позиционирования по принятой на предприятии норме расхода.
                                    .swiper-slide
                                        .monitoring__slider-slide
                                            h5.monitoring__slider-slide__title История движения всех ТС
                                            p.monitoring__slider-slide__text Waliot® - платформа с поддержкой облачных технологий, позволяющая осуществлять автоматическое формирование путевых листов в режиме реального времени.
                                    .swiper-slide
                                        .monitoring__slider-slide
                                            h5.monitoring__slider-slide__title Оповещение об опасной езде
                                            p.monitoring__slider-slide__text Разработанный нами анализ качества и стиля вождения способен фиксировать следующие нарушения: резкие ускорения и торможения, резкое маневрирование, превышение скоростного режима и движение в тёмное время суток.
                                    .swiper-slide
                                        .monitoring__slider-slide
                                            h5.monitoring__slider-slide__title Контроль местоположения транспорта
                                            p.monitoring__slider-slide__text Программный комплекс мониторинга Waliot® позволяет в режиме времени, приближённому к реальному, контролировать состояние, местоположение и дополнительные функции всех транспортных средств Компании на детализированное карте местности с точностью до дома.
                                    .swiper-slide
                                        .monitoring__slider-slide
                                            h5.monitoring__slider-slide__title Контроль расхода топлива
                                            p.monitoring__slider-slide__text Решение Waliot нацелено на оперативное реагирование и выявление фактов хищений топлива. Среди способов контроля: датчик уровня топлива, датчик расхода топлива, данных CAN-машины или на основании данных спутникового позиционирования по принятой на предприятии норме расхода.
                                    .swiper-slide
                                        .monitoring__slider-slide
                                            h5.monitoring__slider-slide__title История движения всех ТС
                                            p.monitoring__slider-slide__text Waliot® - платформа с поддержкой облачных технологий, позволяющая осуществлять автоматическое формирование путевых листов в режиме реального времени.
                                    .swiper-slide
                                        .monitoring__slider-slide
                                            h5.monitoring__slider-slide__title Оповещение об опасной езде
                                            p.monitoring__slider-slide__text Разработанный нами анализ качества и стиля вождения способен фиксировать следующие нарушения: резкие ускорения и торможения, резкое маневрирование, превышение скоростного режима и движение в тёмное время суток.
        section.icons
            .container
                .icons__holder
                    .row
                        .icons__inner
                            .icons-item
                                .icons-item__icon
                                    svg
                                        use(xlink:href="./images/sprite.svg#database")
                                b.icons-item__text ПО зарегистрировано в едином реестре российских программ для ЭВМ и БД
                            .icons-item
                                .icons-item__icon
                                    svg
                                        use(xlink:href="./images/sprite.svg#cloud")
                                b.icons-item__text Автоматический перенос данных из других систем мониторинга
                            .icons-item
                                .icons-item__icon
                                    svg
                                        use(xlink:href="./images/sprite.svg#stat")
                                b.icons-item__text Точность показаний 99,7%
                            .icons-item
                                .icons-item__icon
                                    svg
                                        use(xlink:href="./images/sprite.svg#speed")
                                b.icons-item__text Скорость построения отчётов - до 5 секунд
                            .icons-item
                                .icons-item__icon
                                    svg
                                        use(xlink:href="./images/sprite.svg#uptime")
                                b.icons-item__text Аптайм - 99,95%
                            .icons-item
                                .icons-item__icon
                                    svg
                                        use(xlink:href="./images/sprite.svg#flag")
                                b.icons-item__text Сервера в России
                            .icons-item
                                .icons-item__icon
                                    svg
                                        use(xlink:href="./images/sprite.svg#logo-icon")
                                b.icons-item__text Решение собственной разработки
                            .icons-item
                                .icons-item__icon
                                    svg
                                        use(xlink:href="./images/sprite.svg#robot")
                                b.icons-item__text Использование технологий машинного обучения в топливной аналитике
                            .icons-item
                                .icons-item__icon
                                    svg
                                        use(xlink:href="./images/sprite.svg#telegram")
                                b.icons-item__text
                                    |   Уведомления
                                    br
                                    |   в Telegram
                            .icons-item
                                .icons-item__icon
                                    svg
                                        use(xlink:href="./images/sprite.svg#worker")
                                b.icons-item__text Выезд инженера в течение 3-х дней
        section.industry
            .container
                .industry__inner
                    .row
                        h2.industry__title Отраслевые решения
                    .row
                        .col-lg-4
                            .industry-item
                                .industry-item__content
                                    h4.industry-item__title ГЛОНАСС для сельского хозяйства
                                    p.industry-item__text Позволяет полностью контролировать работу тракторов, комбайнов, грузовых машин и прочей сельхозтехники
                                .industry-item__img
                                    img(src="./images/content/industry/combine.png" alt="combine")
                                +arrowButton('#')
                        .col-lg-4
                            .industry-item
                                .industry-item__content
                                    h4.industry-item__title Международные и междугородние перевозки
                                    p.industry-item__text Данный комплекс мероприятий нацелен на снижение издержек и сроков доставки грузов
                                .industry-item__img
                                    img(src="./images/content/industry/truck.png" alt="truck")
                                +arrowButton('#')
                        .col-lg-4
                            .industry-item
                                .industry-item__content
                                    h4.industry-item__title Пассажирские перевозки
                                    p.industry-item__text Позволяет перевозчику улучшить качество предоставляемых услуг, благодаря соблюдению многих факторов
                                .industry-item__img
                                    img(src="./images/content/industry/van.png" alt="van")
                                +arrowButton('#')
        section.tariff
            .container
                .tariff__inner
                    .row
                        h2.tariff__title Выберите свой тариф
                    .row
                        .tariff__items
                            .tariff-item
                                .tariff-item__header
                                    .tariff-item__icon(style="background-color: #3BA0EF;")
                                        svg
                                            use(xlink:href="./images/sprite.svg#car")
                                    .tariff-item__subtitle-inner
                                        b.tariff-item__subtitle Базовый
                                    h3.tariff-item__title
                                        |   399 ₽
                                        span    / месяц
                                .tariff-item__body
                                    ul.tariff-item__plans
                                        - const plansDefault=[{bold:'',label:"Онлайн контроль местоположения",check: true},{bold:'',label:"Контроль топлива",check: true},{bold:'',label:"Автоматизированная отчётность по ключевым показателям",check: true},{bold:'',label:"Техническое обслуживание",check: true},{bold:'',label:"Уведомления в Telegram",check: true},{bold:'',label:"Шеринг объектов",check: true},{bold:'',label:"Мобильное приложение",check: true},{bold:'',label:"Бизнес аналитика",check: true},{bold:'',label:"Интеграции с 1С:УАТ",check: false},{bold:'',label:"Оплата GPRS трафика",check: false},{bold:'',label:"Техническая поддержка",check: false},{bold:'',label:"Интеграции с процессинговыми компаниями",check: false},{bold:'',label:"Интеграции в РНИС г. Москвы",check: false},{bold:'',label:"Сельское хозяйство",check: false},{bold:'',label:"Персональный менеджер",check: false},{label:"хранение информации на нашем сервере",check: true,bold: "6 месяцев "}];
                                        for planObj in plansDefault
                                            li.tariff-item__plan
                                                .tariff-item__plan-icon
                                                    svg
                                                        use(xlink:href= planObj.check == true ? "./images/sprite.svg#check" : "./images/sprite.svg#xmark")
                                                p.tariff-item__plan-text
                                                    b= planObj.bold
                                                    = planObj.label
                                .tariff-item__btn
                                    +mainButton('#', 'Подключить Waliot')
                            .tariff-item
                                .tariff-item__header
                                    .tariff-item__icon(style="background-color: #FE9E14;")
                                        svg
                                            use(xlink:href="./images/sprite.svg#truck")
                                    .tariff-item__subtitle-inner
                                        b.tariff-item__subtitle Оптимальный
                                        span Популярный выбор
                                    h3.tariff-item__title
                                        |   499 ₽
                                        span    / месяц
                                .tariff-item__body
                                    .tariff-item__plans
                                        - const plansOptimal=[{bold:'',label:"Онлайн контроль местоположения",check: true},{bold:'',label:"Контроль топлива",check: true},{bold:'',label:"Автоматизированная отчётность по ключевым показателям",check: true},{bold:'',label:"Техническое обслуживание",check: true},{bold:'',label:"Уведомления в Telegram",check: true},{bold:'',label:"Шеринг объектов",check: true},{bold:'',label:"Мобильное приложение",check: true},{bold:'',label:"Бизнес аналитика",check: true},{bold:'',label:"Интеграции с 1С:УАТ",check: true},{bold:'',label:"Оплата GPRS трафика",check: true},{bold:'',label:"Техническая поддержка",check: true},{bold:'',label:"Интеграции с процессинговыми компаниями",check: false},{bold:'',label:"Интеграции в РНИС г. Москвы",check: false},{bold:'',label:"Сельское хозяйство",check: false},{bold:'',label:"Персональный менеджер",check: false},{label:"хранение информации на нашем сервере",check: true,bold: "18 месяцев "}];
                                        for planObj in plansOptimal
                                            .tariff-item__plan
                                                .tariff-item__plan-icon
                                                    svg
                                                        use(xlink:href= planObj.check == true ? "./images/sprite.svg#check" : "./images/sprite.svg#xmark")
                                                p.tariff-item__plan-text
                                                    b= planObj.bold
                                                    = planObj.label
                                .tariff-item__btn
                                    +mainButton('#', 'Подключить Waliot')
                            .tariff-item
                                .tariff-item__header
                                    .tariff-item__icon(style="background-color: #E7574D;")
                                        svg
                                            use(xlink:href="./images/sprite.svg#combine")
                                    .tariff-item__subtitle-inner
                                        b.tariff-item__subtitle Максимум
                                    h3.tariff-item__title
                                        |   519 ₽
                                        span    / месяц
                                .tariff-item__body
                                    .tariff-item__plans
                                        - const plansMax=[{bold:'',label:"Онлайн контроль местоположения",check: true},{bold:'',label:"Контроль топлива",check: true},{bold:'',label:"Автоматизированная отчётность по ключевым показателям",check: true},{bold:'',label:"Техническое обслуживание",check: true},{bold:'',label:"Уведомления в Telegram",check: true},{bold:'',label:"Шеринг объектов",check: true},{bold:'',label:"Мобильное приложение",check: true},{bold:'',label:"Бизнес аналитика",check: true},{bold:'',label:"Интеграции с 1С:УАТ",check: true},{bold:'',label:"Оплата GPRS трафика",check: true},{bold:'',label:"Техническая поддержка",check: true},{bold:'',label:"Интеграции с процессинговыми компаниями",check: true},{bold:'',label:"Интеграции в РНИС г. Москвы",check: true},{bold:'',label:"Сельское хозяйство",check: true},{bold:'',label:"Персональный менеджер",check: true},{label:"хранение информации на нашем сервере",check: true,bold: "24 месяца "}];
                                        for planObj in plansMax
                                            .tariff-item__plan
                                                .tariff-item__plan-icon
                                                    svg
                                                        use(xlink:href= planObj.check == true ? "./images/sprite.svg#check" : "./images/sprite.svg#xmark")
                                                p.tariff-item__plan-text
                                                    b= planObj.bold
                                                    = planObj.label
                                .tariff-item__btn
                                    +mainButton('#', 'Подключить Waliot')
        section.calculator
            .container
                .calculator__wrapper
                    .row
                        .calculator__header
                            h2.calculator__title Калькулятор эффективности
                            p.calculator__text Рассчитайте плановый экономический эффект после внедрения системы мониторинга транспорта Waliot
                    .calculator__holder
                        .row
                            .calculator__inner
                                .calculator-config
                                    h5.calculator-config__title Введите вводные данные для расчёта эффективности
                                    form.calculator-config__form(action="#")
                                        .calculator-config__field-inner
                                            .calculator-config__field
                                                p.calculator-config__field-title Тип транспортного средства:
                                                select.calculator-config__field-select(id="calculator-config-select-vehicle-type")
                                                    option(value='cargo') Грузовой
                                                    option(value='passenger') Легковой
                                                    option(value='special-equipment') Спецтехника
                                            .calculator-config__field
                                                p.calculator-config__field-title Тип топлива:
                                                select.calculator-config__field-select(id="calculator-config-select-fuel-type")
                                                    option(value='diesel') Дизель
                                                    option(value='gasoline') Бензин
                                        .calculator-config__field-inner
                                            .calculator-config__field
                                                .calculator-config__field-top
                                                    p.calculator-config__field-title Количество автомобилей:
                                                    .calculator-config__field-value(type="number" id="calculator-config-cars-count-value")
                                                    //- input.calculator-config__field-value(type="number")
                                                input.calculator-config__field-range(id="calculator-config-cars-count" type="text")
                                            .calculator-config__field
                                                .calculator-config__field-top
                                                    p.calculator-config__field-title Средний километраж за месяц:
                                                    .calculator-config__field-value(type="number" id="calculator-config-kilometrage-value")
                                                    //- input.calculator-config__field-value(type="number")
                                                input.calculator-config__field-range(id="calculator-config-kilometrage" type="text")
                                        .calculator-config__field-inner
                                            .calculator-config__field
                                                .calculator-config__field-top
                                                    p.calculator-config__field-title Средний расход топлива, л/100 км:
                                                    .calculator-config__field-value(type="number" id="calculator-config-fuel-consumption-value")
                                                    //- input.calculator-config__field-value(type="number")
                                                input.calculator-config__field-range(id="calculator-config-fuel-consumption" type="text")
                                            .calculator-config__field
                                                .calculator-config__field-top
                                                    p.calculator-config__field-title Стоимость топлива
                                                    .calculator-config__field-value(type="number" id="calculator-config-fuel-price-value")
                                                    //- input.calculator-config__field-value(type="number")
                                                input.calculator-config__field-range(id="calculator-config-fuel-price" type="text")
                                .calculator-output
                                    .calculator-output__content
                                        p.calculator-output__subtitle Экономия за год составит:
                                        h3.calculator-output__title
                                        p.calculator-output__payback
                                            |   Окупаемость: 
                                            b
                                    .calculator-output__btn
                                        +calculatorButton('Хочу так же!', 'submit')
                                        p.calculator-output__hint * Расчёт примерный - точная сумма зависит от индивидуальный параметров
        section.client
            .container
                .row
                    .client__inner
                        .client__header
                            h2.client__title Клиенты и показатели
                            .client__slider-button__wrapper
                                .client__slider-button.client__slider-button--prev
                                    svg
                                        use(xlink:href="./images/sprite.svg#angle")
                                .client__slider-button.client__slider-button--next
                                    svg
                                        use(xlink:href="./images/sprite.svg#angle")
                        .client__slider
                            .swiper
                                .swiper-wrapper
                                    .swiper-slide
                                        .client__slider-slide
                                            .client__slider-slide__img
                                                img(src="./images/content/logo/rosseti.png" alt="Россети")
                                            .client__slider-slide__content
                                                h3.client__slider-slide__title 43%
                                                p.client__slider-slide__text Снизился расход топлива по сравнению с периодом, когда система мониоринга транспорта Waliot не была установлена на нашх автомобилях
                                    .swiper-slide
                                        .client__slider-slide
                                            .client__slider-slide__img
                                                img(src="./images/content/logo/gasprom.png" alt="Газпром")
                                            .client__slider-slide__content
                                                h3.client__slider-slide__title 39%
                                                p.client__slider-slide__text Снизился расход топлива по сравнению с периодом, когда система мониоринга транспорта Waliot не была установлена на нашх автомобилях
                                    .swiper-slide
                                        .client__slider-slide
                                            .client__slider-slide__img
                                                img(src="./images/content/logo/rosneft.png" alt="Роснефть")
                                            .client__slider-slide__content
                                                h3.client__slider-slide__title 44%
                                                p.client__slider-slide__text Снизился расход топлива по сравнению с периодом, когда система мониоринга транспорта Waliot не была установлена на нашх автомобилях
                                    .swiper-slide
                                        .client__slider-slide
                                            .client__slider-slide__img
                                                img(src="./images/content/logo/rosseti.png" alt="Россети")
                                            .client__slider-slide__content
                                                h3.client__slider-slide__title 43%
                                                p.client__slider-slide__text Снизился расход топлива по сравнению с периодом, когда система мониоринга транспорта Waliot не была установлена на нашх автомобилях
                                    .swiper-slide
                                        .client__slider-slide
                                            .client__slider-slide__img
                                                img(src="./images/content/logo/gasprom.png" alt="Газпром")
                                            .client__slider-slide__content
                                                h3.client__slider-slide__title 39%
                                                p.client__slider-slide__text Снизился расход топлива по сравнению с периодом, когда система мониоринга транспорта Waliot не была установлена на нашх автомобилях
                                    .swiper-slide
                                        .client__slider-slide
                                            .client__slider-slide__img
                                                img(src="./images/content/logo/rosneft.png" alt="Роснефть")
                                            .client__slider-slide__content
                                                h3.client__slider-slide__title 44%
                                                p.client__slider-slide__text Снизился расход топлива по сравнению с периодом, когда система мониоринга транспорта Waliot не была установлена на нашх автомобилях
                        .client__btn
                            +mainButton('#', 'Попробовать демо версию')
        section.awards
            .container
                .awards__holder
                    .row
                        .awards__header
                            h2.awards__title Награды
                            +lineButton('#', 'Смотреть все награды')
                    .row
                        .col-lg-3
                            .awards-item
                                .awards-item__img
                                    img(src="./images/content/awards/global_cio.png" alt="Награда 'Проект года'")
                        .col-lg-3
                            .awards-item
                                .awards-item__img
                                    img(src="./images/content/awards/global_cio.png" alt="Награда 'Проект года'")
                        .col-lg-3
                            .awards-item
                                .awards-item__img
                                    img(src="./images/content/awards/global_cio.png" alt="Награда 'Проект года'")
                        .col-lg-3
                            .awards-item
                                .awards-item__img
                                    img(src="./images/content/awards/global_cio.png" alt="Награда 'Проект года'")
        section.case
            .container
                .case__wrapper
                    .row
                        .case__header
                            h2.case__title Кейсы
                            +lineButton('#', 'Смотреть все кейсы')
                    .row
                        .col-lg-4
                            .case-item
                                a.case-item__img(href="#")
                                    img(src="./images/content/case/truck.jpg" alt="truck")
                                h5.case-item__title
                                    a(href="#") Таинственная пропажа навигационного оборудования
                                .case-item__stats
                                    .case-item__stat
                                        .case-item__stat-icon
                                            svg
                                                use(xlink:href="./images/sprite.svg#clock")
                                        p.case-item__stat-text 7 минут назад
                                    .case-item__stat
                                        .case-item__stat-icon
                                            svg
                                                use(xlink:href="./images/sprite.svg#eye")
                                        p.case-item__stat-text 4141
                        .col-lg-4
                            .case-item
                                a.case-item__img(href="#")
                                    img(src="./images/content/case/truck.jpg" alt="truck")
                                h5.case-item__title
                                    a(href="#") Механик из Ада
                                .case-item__stats
                                    .case-item__stat
                                        .case-item__stat-icon
                                            svg
                                                use(xlink:href="./images/sprite.svg#clock")
                                        p.case-item__stat-text 7 минут назад
                                    .case-item__stat
                                        .case-item__stat-icon
                                            svg
                                                use(xlink:href="./images/sprite.svg#eye")
                                        p.case-item__stat-text 4141
                        .col-lg-4
                            .case-item
                                a.case-item__img(href="#")
                                    img(src="./images/content/case/truck.jpg" alt="truck")
                                h5.case-item__title
                                    a(href="#") Змеиное логово механика или как мы почти попали
                                .case-item__stats
                                    .case-item__stat
                                        .case-item__stat-icon
                                            svg
                                                use(xlink:href="./images/sprite.svg#clock")
                                        p.case-item__stat-text 7 минут назад
                                    .case-item__stat
                                        .case-item__stat-icon
                                            svg
                                                use(xlink:href="./images/sprite.svg#eye")
                                        p.case-item__stat-text 4141
        section.quiz
            .container
                .quiz__wrapper
                    .row
                        .quiz__header
                            h2.quiz__title Узнайте стоимость оборудования
                            p.quiz__text Для этого ответьте всего на несколько вопросов. Это не займёт много времени
                    .quiz__holder
                        .row
                            template#quiz-first
                                .quiz__inner
                                    .quiz-content
                                        .quiz-content__step Шаг 1 из 4
                                        h4.quiz-content__title Какие автомобили необходимо оснастить системой ГЛОНАСС?
                                        .quiz-content__variants
                                            +lineButtonTag('Легковые', 'option-1')
                                            +lineButtonTag('Грузовые', 'option-2')
                                            +lineButtonTag('Спецтехника', 'option-3')
                                            +lineButtonTag('Все типы ТС', 'option-4')
                                    +mainButton('', 'Следующий вопрос')
                            template#quiz-second
                                .quiz__inner
                                    .quiz-content
                                        .quiz-content__step Шаг 2 из 4
                                        h4.quiz-content__title Какие параметры хотите контролировать?
                                        .quiz-content__variants
                                            +lineButtonTag('Местоположение и контроль топлива', 'option-1')
                                            +lineButtonTag('Местоположение', 'option-2')
                                            +lineButtonTag('Местоположение и доп. оборудование', 'option-3')
                                            +lineButtonTag('Всё по максимуму', 'option-4')
                                    +mainButton('', 'Следующий вопрос')
                            template#quiz-third
                                .quiz__inner
                                    .quiz-content
                                        .quiz-content__step Шаг 3 из 4
                                        h4.quiz-content__title Выберите удобный вариант места монтажа?
                                        .quiz-content__variants
                                            +lineButtonTag('У нас', 'option-1')
                                            +lineButtonTag('У вас на базе', 'option-2')
                                    +mainButton('', 'Следующий вопрос')
                            template#quiz-fourth
                                .quiz__inner
                                    .quiz-content
                                        .quiz-content__step Шаг 4 из 4
                                        h4.quiz-content__title В каком городе находятся автомобили?
                                        .quiz-content__variants
                                            +lineButtonTag('У нас', 'option-1')
                                            +lineButtonTag('У вас на базе', 'option-2')
                                    +mainButton('', 'Следующий вопрос')
                            template#quiz-form
                                form.quiz__inner(action="#")
                                    p.quiz-form__subtitle
                                        |   Получите персональную скидку 
                                        span    10%
                                    h4.quiz-form__title Заполните данные для получения расчёта
                                    .quiz-form
                                        .quiz-form__field
                                            input.quiz-form__field-input(type="text" placeholder="Ваше имя" name="quiz-form-name" required)
                                            input.quiz-form__field-input(type="text" placeholder="Ваш телефон" name="quiz-form-tel" required)
                                        .quiz-form__field
                                            input.quiz-form__field-input(type="email" placeholder="Ваш E-mail" name="quiz-form-email" required)
                                            +mainButton('', 'Узнать стоимость')
                                    p.quiz-form__hint 
                                        |   Нажимая «Узнать стоимость», я даю согласие на 
                                        +link('#', 'обработку персональных данных')
        section.media
            .container
                .media__wrapper
                    .row
                        .media__header
                            h2.media__title СМИ о нас
                            +lineButton('#', 'Смотреть все кейсы')
                    .row
                        .col-lg-6
                            .media-item
                                a.media-item__img(href="#")
                                    img(src="./images/content/media/truck.jpg" alt="truck")
                                p.media-item__meta 12 октября 2023 года / РБК
                                h5.media-item__title
                                    a(href="#") Компанией «ПМК» разработана альтернатива зарубежным ПО в области ГЛОНАСС
                                +linkTwo('#', 'Прочитать на РБК')
                        .col-lg-6
                            .media-item
                                a.media-item__img(href="#")
                                    img(src="./images/content/media/truck.jpg" alt="truck")
                                p.media-item__meta 7 марта 2023 / vc.ru
                                h5.media-item__title
                                    a(href="#") Как выбрать поставщика услуг ГЛОНАСС?
                                +linkTwo('#', 'Прочитать на vc.ru')
        section.review
            .container
                .review__wrapper
                    .row
                        .review__header
                            h2.review__title Отзывы
                            +lineButton('#', 'Читать все отзывы')
                    .row
                        .col-lg-4
                            .review-item
                                .review-item__top
                                    b.review-item__author Дарья Д.
                                    p.review-item__date 27 сентября 2023
                                .review-item__rating
                                    .review-item__stars
                                        .review-item__star
                                            svg
                                                use(xlink:href="./images/sprite.svg#star")
                                        .review-item__star
                                            svg
                                                use(xlink:href="./images/sprite.svg#star")
                                        .review-item__star
                                            svg
                                                use(xlink:href="./images/sprite.svg#star")
                                        .review-item__star
                                            svg
                                                use(xlink:href="./images/sprite.svg#star")
                                        .review-item__star
                                            svg
                                                use(xlink:href="./images/sprite.svg#star")
                                    b.review-item__stars-count 5
                                .review-item__body
                                    p.review-item__text С компанией работаем не один год- профессионалы, знатоки своего дела и просто отзывчивые люди. Программа удобная, интерфейс понятный, формирование отчетов по необходимым нам критериям. Быстро и без накладок. В общем сервисом и довольны, а также работой техподдерки при возникших вопросах.
                        .col-lg-4
                            .review-item
                                .review-item__top
                                    b.review-item__author Лёша Николаев
                                    p.review-item__date 27 сентября 2023
                                .review-item__rating
                                    .review-item__stars
                                        .review-item__star
                                            svg
                                                use(xlink:href="./images/sprite.svg#star")
                                        .review-item__star
                                            svg
                                                use(xlink:href="./images/sprite.svg#star")
                                        .review-item__star
                                            svg
                                                use(xlink:href="./images/sprite.svg#star")
                                        .review-item__star
                                            svg
                                                use(xlink:href="./images/sprite.svg#star")
                                        .review-item__star
                                            svg
                                                use(xlink:href="./images/sprite.svg#star")
                                    b.review-item__stars-count 5
                                .review-item__body
                                    p.review-item__text Программное обеспечение Waliot приятно порадовало. Оперативно можно получить электронную отчетность, удобно и все четко. Отвечают живые люди, когда звонишь, причем быстро и по делу. Доволен.
                        .col-lg-4
                            .review-item
                                .review-item__top
                                    b.review-item__author Дарья Д.
                                    p.review-item__date 27 сентября 2023
                                .review-item__rating
                                    .review-item__stars
                                        .review-item__star
                                            svg
                                                use(xlink:href="./images/sprite.svg#star")
                                        .review-item__star
                                            svg
                                                use(xlink:href="./images/sprite.svg#star")
                                        .review-item__star
                                            svg
                                                use(xlink:href="./images/sprite.svg#star")
                                        .review-item__star
                                            svg
                                                use(xlink:href="./images/sprite.svg#star")
                                        .review-item__star
                                            svg
                                                use(xlink:href="./images/sprite.svg#star")
                                    b.review-item__stars-count 5
                                .review-item__body
                                    p.review-item__text С компанией работаем не один год- профессионалы, знатоки своего дела и просто отзывчивые люди. Программа удобная, интерфейс понятный, формирование отчетов по необходимым нам критериям. Быстро и без накладок. В общем сервисом и довольны, а также работой техподдерки при возникших вопросах.
        section.step
            .container
                .step__wrapper
                    .row
                        .step__header
                            h2.step__title Как мы работаем?
                    .row
                        .step__items
                            .step-item
                                .step-item__top
                                    p.step-item__num 01
                                    .step-item__sep
                                p.step-item__text Вы оставляете заявку на сайте или по телефону
                                +linkTwo('#', 'Оставить заявку')
                            .step-item
                                .step-item__top
                                    p.step-item__num 02
                                    .step-item__sep
                                p.step-item__text Мы подбираем решение и формируем коммерческое предложение
                            .step-item
                                .step-item__top
                                    p.step-item__num 03
                                    .step-item__sep
                                p.step-item__text Мы устанавливаем и настраиваем оборудование на вашей территории или нашей базе
                            .step-item
                                .step-item__top
                                    p.step-item__num 04
                                    .step-item__sep
                                p.step-item__text Вы заходите в кабинет на сайте или в приложении и осуществляете контроль транспорта
                            .step-item
                                .step-item__top
                                    p.step-item__num 05
                                    .step-item__sep
                                p.step-item__text Мы обучаем работе с приложением и осуществляем поддержку решения на всём периоде работы
        section.offer
            .container
                .offer__wrapper
                    .row
                        .offer__header
                            h2.offer__title Waliot запустила дилерскую сеть
                            p.offer__text Наши партнёры успешно ведут свой бизнес на территории России и странах СНГ. Мы приглашаем к сотрудничеству юридических лиц и индивидуальных предпринимателей и предлагаем индивидуальные условия по использованию средств для наших партнёров. Мы предлагаем обучение, индивидуальную техническую поддержку и скидку для участников дилерской сети.
                    .offer__holder
                        .row
                            .offer__inner
                                h4.offer-form__title Заполните форму и мы свяжемся с вами в ближайшее время
                                form.offer-form(action="#")
                                    input.offer-form__input(type="text" placeholder="Ваше имя" name="offer-form-name")
                                    input.offer-form__input(type="text" placeholder="Ваш телефон" name="offer-form-tel")
                                    input.offer-form__input(type="text" placeholder="Ваш E-mail" name="offer-form-email")
                                    button.main-button(type="submit")
                                        b Стать дилером
                                p.offer-form__hint 
                                    |   Нажимая «Стать дилером», я даю согласие на 
                                    +link('#', 'обработку персональных данных')
        +footer()


    //- svg
    //- use(xlink:href="./images/sprite.svg")
    script(src="js/main.min.js" defer)
