doctype html
html(lang='ru')
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Waliot
        link(rel="stylesheet" href="css/style.min.css")
    body

    //- .container
    //-     .wrapper(style="background-color: #ccc; border-radius: 20px; padding: 50px 0;")
    //-         .row
    //-             .col(style="background-color: #363636;")
    //-                 p(style="height: 100vh;") content


    //- svg
    //-     use(xlink:href="./images/sprite.svg")
    script(src="js/main.min.js" defer)
