doctype html
html(lang='ru')
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Waliot
        link(rel="stylesheet" href="css/style.min.css")
    body
        include ./components/atoms/MainButton.jade
        include ./components/atoms/Link.jade

        include ./components/organisms/Header.jade
        include ./components/organisms/Footer.jade
        include ./components/organisms/Offer.jade

        include ./components/molecules/Breadcrumbs.jade
        include ./components/molecules/modals/ModalProduct.jade
        include ./components/molecules/modals/ModalSolutions.jade
        include ./components/molecules/modals/ModalTechnologies.jade
        include ./components/molecules/modals/ModalCompany.jade
        include ./components/molecules/modals/ModalConnect.jade
        include ./components/molecules/modals/ModalForm.jade
        include ./components/molecules/modals/ModalFormThanks.jade

        include ./components/organisms/HeaderModal.jade

        .modals
            .modal-overlay
                +modalProduct()
                +modalSolutions()
                +modalTechnologies()
                +modalCompany()
                +modalConnect()
                +modalForm()
                +modalFormThanks()

        +header()
        +headerModal()


        section.post
            .post__holder
                .container
                    .row
                        .post__header
                            +breadcrumbs([{ linkText: 'Главная', linkHref: '/' }, { linkText: 'Решения', linkHref: '/' }, { linkText: 'ГЛОНАСС для экстренных служб ', linkHref: '#' }])
                            h1.post__title ГЛОНАСС для экстренных служб 
                .container
                    .row
                        .col-xl-6
                            .post__img
                                img(src="./images/posts/emergencyServices/ipad.webp" srcset="./images/posts/emergencyServices/ipad.webp 1x, ./images/posts/emergencyServices/ipad@2x.webp 2x" alt="")
                        .col-xl-5
                            .post-content
                                h2.post-content__title Множество датчиков контроля
                                p.post-content__text
                                    |   Многофункциональное оборудование от одного из ведущих российских производителей оборудования автомониторинга всех видов транспорта, который по праву заслужил высокий уровень доверия со стороны покупателей.
                                    br
                                    |   Мы предлагаем не просто купить и установить спутниковый мониторинг ГЛОНАСС\GPS, а комплексное решение, контроль транспорта, который включает в себя линейку различного телематического оборудования, системы транспортной аналитики, тахографы и карты водителя по выгодной цене.
                                +mainButton('#', 'Подобрать оборудование')
        +offer()
        +footer()


    //- svg
    //- use(xlink:href="./images/sprite.svg")
    script(src="js/main.min.js" defer)
