mixin search(placeholder, variant)
    if variant=='active'
        .search.search--active
            .search__icon
                svg
                    use(xlink:href="./images/sprite.svg#serth")
            input.search__input(type="text" placeholder="#{placeholder}")
    else
        .search
            .search__icon
                svg
                    use(xlink:href="./images/sprite.svg#serth")
            input.search__input(type="text" placeholder="#{placeholder}")