mixin sliderButton(className, type)
    div(class="slider-button slider-button--#{type} #{className}__slider-button #{className}__slider-button--#{type}")
        svg
            use(xlink:href="./images/sprite.svg#angle")