mixin tooltip(text, iconPosition)
    if iconPosition=='top' || iconPosition=='bottom'
        .tooltip__wrapper
            .tooltip__icon-wrapper
                .tooltip__icon
                    svg
                        use(xlink:href="./images/sprite.svg#plus")
            .tooltip(class="tooltip--#{iconPosition}")
                p.tooltip__text= text
    else
        .tooltip(class="tooltip--#{iconPosition}")
            .tooltip__icon
                svg
                    use(xlink:href="./images/sprite.svg#plus")
            p.tooltip__text= text