mixin footer()
    footer.footer
        .container
            .footer__wrapper
                .footer-top
                    .col-lg-3
                        .footer-top__logo
                            svg
                                use(xlink:href="./images/sprite.svg#logo")
                    .col-lg-6
                        .footer-top__connect
                            a.footer-top__tel(href="tel:+78002509099") 8 800 250-90-99
                            .footer-top__icons
                                a.footer-top__icon(href="#")
                                    svg
                                        use(xlink:href="./images/sprite.svg#telegram_1")
                                a.footer-top__icon(href="#")
                                    svg
                                        use(xlink:href="./images/sprite.svg#whatsapp")

                    .col-lg-3
                        .footer-top__btns
                            +lineIconButton('#', 'Личный кабинет', '#user')
                            .footer-top__up
                                svg
                                    use(xlink:href="./images/sprite.svg#angle")
                .footer-body
                    .col-lg-3
                        .footer-body__item
                            h5.footer-body__item-title Продукт
                            ul.footer-body__list
                                li.footer-body__link
                                    +link('#', 'Контроль местоположения')
                                li.footer-body__link
                                    +link('#', 'Контроль местоположения')
                                li.footer-body__link
                                    +link('#', 'Контроль местоположения')
                                li.footer-body__link
                                    +link('#', 'Контроль местоположения')
                                li.footer-body__link
                                    +link('#', 'Контроль местоположения')
                                li.footer-body__link
                                    +link('#', 'Контроль местоположения')
                                li.footer-body__link
                                    +link('#', 'Контроль местоположения')
                                li.footer-body__link
                                    +link('#', 'Контроль местоположения')
                                li.footer-body__link
                                    +link('#', 'Контроль местоположения')
                                li.footer-body__link
                                    +link('#', 'Контроль местоположения')
                    .col-lg-3
                        .footer-body__item
                            h5.footer-body__item-title Решения
                            ul.footer-body__list
                                li.footer-body__link
                                    +link('#', 'Контроль местоположения')
                                li.footer-body__link
                                    +link('#', 'Контроль местоположения')
                                li.footer-body__link
                                    +link('#', 'Контроль местоположения')
                                li.footer-body__link
                                    +link('#', 'Контроль местоположения')
                                li.footer-body__link
                                    +link('#', 'Контроль местоположения')
                                li.footer-body__link
                                    +link('#', 'Контроль местоположения')
                                li.footer-body__link
                                    +link('#', 'Контроль местоположения')
                                li.footer-body__link
                                    +link('#', 'Контроль местоположения')
                                li.footer-body__link
                                    +link('#', 'Контроль местоположения')
                                li.footer-body__link
                                    +link('#', 'Контроль местоположения')
                    .col-lg-3
                        .footer-body__item
                            h5.footer-body__item-title Технологии
                            ul.footer-body__list
                                li.footer-body__link
                                    +link('#', 'Контроль местоположения')
                                li.footer-body__link
                                    +link('#', 'Контроль местоположения')
                                li.footer-body__link
                                    +link('#', 'Контроль местоположения')
                                li.footer-body__link
                                    +link('#', 'Контроль местоположения')
                                li.footer-body__link
                                    +link('#', 'Контроль местоположения')
                                li.footer-body__link
                                    +link('#', 'Контроль местоположения')
                                li.footer-body__link
                                    +link('#', 'Контроль местоположения')
                                li.footer-body__link
                                    +link('#', 'Контроль местоположения')
                                li.footer-body__link
                                    +link('#', 'Контроль местоположения')
                                li.footer-body__link
                                    +link('#', 'Контроль местоположения')
                    .col-lg-3
                        .footer-body__item
                            h5.footer-body__item-title Компния
                            ul.footer-body__list
                                li.footer-body__link
                                    +link('#', 'Контроль местоположения')
                                li.footer-body__link
                                    +link('#', 'Контроль местоположения')
                                li.footer-body__link
                                    +link('#', 'Контроль местоположения')
                                li.footer-body__link
                                    +link('#', 'Контроль местоположения')
                                li.footer-body__link
                                    +link('#', 'Контроль местоположения')
                                li.footer-body__link
                                    +link('#', 'Контроль местоположения')
                                li.footer-body__link
                                    +link('#', 'Контроль местоположения')
                                li.footer-body__link
                                    +link('#', 'Контроль местоположения')
                                li.footer-body__link
                                    +link('#', 'Контроль местоположения')
                                li.footer-body__link
                                    +link('#', 'Контроль местоположения')
                .footer-bottom
                    .col-lg-6
                        .footer-bottom__copy
                            p Copyright © 2009-2023 Waliot ®
                            p ООО «Первая мониторинговая компания»
                    .col-lg-6
                        .footer-bottom__inner
                            ul.footer-bottom__links
                                li.footer-bottom__link-item
                                    +link('#', 'Спутниковый мониторинг трансорта ')
                                li.footer-bottom__link-item
                                    +link('#', 'Политика конфиденциальности ')
                                li.footer-bottom__link-item
                                    +link('#', 'Карта сайта')
                            .footer-bottom__made
                                p Сделано в
                                .footer-bottom__made-logo
                                    svg
                                        use(xlink:href="./images/sprite.svg#ruso")