include ../atoms/MainButton.jade
include ../atoms/Link.jade
include ../atoms/Search.jade
include ../atoms/MainButton.jade

mixin headerModal()
    .header-modal(id="#header-modal")
        .header-modal__holder
            .container
                .row
                    +search('Что ищем?', 'active')
            .header-modal__wrapper
                .container
                    .row
                        .header-modal__inner
                            nav.menu
                                ul.menu__list
                                    li.menu__list-item
                                        .menu__list-item__label
                                            b Продукт
                                            svg
                                                use(xlink:href="./images/sprite.svg#angle")
                                        .menu__list-item__content
                                            .menu__list-item__content-item
                                                h4.modal__title
                                                    b Решения
                                                ul.modal__list
                                                    li.modal__item
                                                        +link('./innerPage.html', 'ГЛОНАСС для экстренных служб')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для лизинга и аренды')
                                                    li.modal__item
                                                        +link('#', 'Международные перевозки')
                                                    li.modal__item
                                                        +link('#', 'Пассажирские перевозки')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для служб такси')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для дизель-генератора')
                                            .menu__list-item__content-item
                                                h4.modal__title
                                                    b Решения
                                                ul.modal__list
                                                    li.modal__item
                                                        +link('./innerPage.html', 'ГЛОНАСС для экстренных служб')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для лизинга и аренды')
                                                    li.modal__item
                                                        +link('#', 'Международные перевозки')
                                                    li.modal__item
                                                        +link('#', 'Пассажирские перевозки')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для служб такси')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для дизель-генератора')
                                            .menu__list-item__content-item
                                                h4.modal__title
                                                    b Решения
                                                ul.modal__list
                                                    li.modal__item
                                                        +link('./innerPage.html', 'ГЛОНАСС для экстренных служб')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для лизинга и аренды')
                                                    li.modal__item
                                                        +link('#', 'Международные перевозки')
                                                    li.modal__item
                                                        +link('#', 'Пассажирские перевозки')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для служб такси')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для дизель-генератора')
                                            .menu__list-item__content-item
                                                h4.modal__title
                                                    b Решения
                                                ul.modal__list
                                                    li.modal__item
                                                        +link('./innerPage.html', 'ГЛОНАСС для экстренных служб')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для лизинга и аренды')
                                                    li.modal__item
                                                        +link('#', 'Международные перевозки')
                                                    li.modal__item
                                                        +link('#', 'Пассажирские перевозки')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для служб такси')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для дизель-генератора')
                                    li.menu__list-item
                                        .menu__list-item__label
                                            b Решения
                                            svg
                                                use(xlink:href="./images/sprite.svg#angle")
                                        .menu__list-item__content
                                            .menu__list-item__content-item
                                                h4.modal__title
                                                    b Решения
                                                ul.modal__list
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                            .menu__list-item__content-item
                                                h4.modal__title
                                                    b Решения
                                                ul.modal__list
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                            .menu__list-item__content-item
                                                h4.modal__title
                                                    b Решения
                                                ul.modal__list
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                            .menu__list-item__content-item
                                                h4.modal__title
                                                    b Решения
                                                ul.modal__list
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                    li.menu__list-item
                                        .menu__list-item__label
                                            b Технологии
                                            svg
                                                use(xlink:href="./images/sprite.svg#angle")
                                        .menu__list-item__content
                                            .menu__list-item__content-item
                                                h4.modal__title
                                                    b Решения
                                                ul.modal__list
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                            .menu__list-item__content-item
                                                h4.modal__title
                                                    b Решения
                                                ul.modal__list
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                            .menu__list-item__content-item
                                                h4.modal__title
                                                    b Решения
                                                ul.modal__list
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                            .menu__list-item__content-item
                                                h4.modal__title
                                                    b Решения
                                                ul.modal__list
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                    li.menu__list-item
                                        .menu__list-item__label
                                            b Компания
                                            svg
                                                use(xlink:href="./images/sprite.svg#angle")
                                        .menu__list-item__content
                                            .menu__list-item__content-item
                                                h4.modal__title
                                                    b Решения
                                                ul.modal__list
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                            .menu__list-item__content-item
                                                h4.modal__title
                                                    b Решения
                                                ul.modal__list
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                            .menu__list-item__content-item
                                                h4.modal__title
                                                    b Решения
                                                ul.modal__list
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                            .menu__list-item__content-item
                                                h4.modal__title
                                                    b Решения
                                                ul.modal__list
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                    li.menu__list-item
                                        .menu__list-item__label
                                            b Связаться
                                            svg
                                                use(xlink:href="./images/sprite.svg#angle")
                                        .menu__list-item__content
                                            .menu__list-item__content-item
                                                h4.modal__title
                                                    b Решения
                                                ul.modal__list
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                            .menu__list-item__content-item
                                                h4.modal__title
                                                    b Решения
                                                ul.modal__list
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                            .menu__list-item__content-item
                                                h4.modal__title
                                                    b Решения
                                                ul.modal__list
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                            .menu__list-item__content-item
                                                h4.modal__title
                                                    b Решения
                                                ul.modal__list
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                                                    li.modal__item
                                                        +link('#', 'ГЛОНАСС для селького хозяйства ')
                            .header-modal__connect
                                .header-modal__connect-item
                                    .header-modal__connect-item__icon
                                        svg
                                            use(xlink:href="./images/sprite.svg#phone")
                                    .header-modal__connect-item__content
                                        a.header-modal__connect-item__link(href="tel:+78002509099")
                                            p.header-modal__connect-item__text
                                                b 8 800 250-90-99
                                            +link('#', 'Заказать звонок')
                                .header-modal__connect-item
                                    .header-modal__connect-item__icon
                                        svg
                                            use(xlink:href="./images/sprite.svg#mail")
                                    .header-modal__connect-item__content
                                        a.header-modal__connect-item__link(href="mailto:info@firstmsk.ru")
                                            p.header-modal__connect-item__text
                                                b info@firstmsk.ru
                                p.header-modal__connect-schedule Пн-Пт: с 9:00 до 20:00
                            .header-modal__demo
                                +mainButton('#', 'Демо-версия')